.header {
  background-color: white;
  color: black;
  background-color: gray;
  height: 80px;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  align-items: center;
  justify-content: center;
}
