.continer {
  display: flex;
  background-color: rgb(223, 223, 223);
  height: 30rem;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.image {
  height: 20rem;
  width: 25rem;
}

.content {
  font-size: 30px;
  color: rgb(58, 58, 58);
}

.text_continer {
  margin-left: 2rem;
  display: column;
}
